{% extends "layout/base.html" %}

{% block title %} Dashboard Hub {% endblock title %}

{% block 'content' %}
{% include "include/Sidebar.html" %}
{% block management_content %}


<div class="container" style="font-size: 50px;">
  <h1>Dashboard</h1>
  </div>
  <style>.container {
    display: flex; /* Required to start flexbox */
    flex-direction: row;
    justify-content: center; /* Horizontally centers items */
    align-items: center; /* Vertically centers items */
    height: 100px;
    background-color: #f0f0f0;
    max-width: 500px;
    margin-left: 258px;
    margin-top: 60px;
    border-radius: 15px; /* Adjust px for more/less roundness */
    border: 2px solid black;
    
  }
    </style>



{% endblock management_content %}
{% endblock 'content' %}