{% extends "layout/base.html" %}

{% block title %} Dashboard Hub {% endblock title %}

{% block 'content' %}
{% include "include/Sidebar.html" %}

{% block management_content %}

<div class="dashboard">
    <div class="cards">
        <div class="card green">
            <h2>${{ today_revenue }}</h2>
            <p>Today's Revenue</p>
        </div>
        <div class="card purple">
            <h2>{{ today_orders }}</h2>
            <p>Today's Order</p>
        </div>
        <div class="card blue">
            <h2>${{ avg_expense }}</h2>
            <p>Avg. Expense</p>
        </div>
        <div class="card orange">
            <h2>${{ avg_revenue }}</h2>
            <p>Avg. Revenue</p>
        </div>
    </div>
    <div class="charts">
        <div class="box">
            <h2>Sales Details</h2>
            {% comment %} <div class="circle">
                {{ completion_rate }}%
            </div> {% endcomment %}
            <ul>
                <li>Total Order - {{ total_orders_percent }}%</li>
                <li>Running Order - {{ running_orders_percent }}%</li>
                <li>Customer Growth - {{ customer_growth_percent }}%</li>
                <li>Total Revenue - {{ revenue_percent }}%</li>
            </ul>
        </div>
    <div class="recentorders">
        <h2>Recent Orders</h2>
        <ul>
            {% for order in recent_orders %}
                <li>
                    Order #{{ order.id }} - ${{ order.total_price }}
                </li>
            {% empty %}
                <li>No orders yet</li>
            {% endfor %}
        </ul>
    </div>
</div>
<style>

body{
    color: white;
}

.dashboard{
    margin-left: 250px;
    padding: 20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat;
    gap:20px;
    margin-top:70px;
}

.card{
    padding:20px;
    border-radius:12px;
    color:white;
}

.green{background:#39d98a;}
.purple{background:#c084fc;}
.blue{background:#818cf8;}
.orange{background:#fb7185;}

.charts{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-top:20px;
}

.recentorders{
    background:#1e1e1e;
    padding:20px;
    border-radius:12px;
}

.bars{
    height:220px;
    display:flex;
    align-items:flex-end;
    gap:15px;
    margin-top:20px;
}
.active{
    background:gold;
}

</style>

{% endblock management_content %}
{% endblock 'content' %}