{% load static %}

<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>{% block title %} Attendance System {% endblock title %}</title>
</head>
<body>
   <style>
    body {
        background-color: #0A192F;
    }
  </style>
  {% block 'content' %}
    {% endblock 'content' %}
    {% comment %} MARVIIIIIIIIN JAVASCRIPT {% endcomment %}
    <script>
        setTimeout(() => {
            const toasts = document.querySelectorAll('[id^="toast-success"], [id^="toast-"]');
            toasts.forEach(toast => {
            toast.style.transition = "opacity 0.5s ease";
            toast.style.opacity = "0";
            setTimeout(() => {
                toast.remove();
            }, 500);
        });
    }, 3000);
</script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>